@import url('monteserrat_300_700.css');

body {
    overflow: hidden;
}

:root {
    --ar-button-scale: 1;
    --poster-color: transparent;
    --progress-bar-height: 0;
}

.logo-div {
    width: 100%;
    text-align: right;
    padding-top: 5px;
    position: fixed;
    top: 5%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.logo-align-left {
    text-align: left;
    margin-left: 16px;
}


.inside-logo {
    width: 20%;
    margin-left: auto;
    margin-right: 30px;
}

.hide-ar-btn {
    visibility: hidden !important;
}

.active {

}

.product-selector-container {
    width: fit-content;
    position: absolute;
    bottom: 70px;
    margin-left: 4px;
}

.texture-dropdown-selector-container {
    width: fit-content;
    position: absolute;
    bottom: 70px;
    margin-left: 4px;
}

.solo {
    bottom: 20px !important;
}

.product-selector-images-container {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    margin-left: 4px;
}

.product-selector-images-container-and-texture {
    bottom: 80px;
}

.color-selector-container {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    margin-left: 4px;
}

.texture-selector-container {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    margin-left: 4px;
}

.texture-container-overflow {
    overflow: scroll;
    height: 39px;
    white-space: nowrap;
    width: 90vw;
    padding-top: 1px;
    padding-left: 1px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.texture-container-overflow::-webkit-scrollbar {
    display: none;
}

.texture-container-overflow {
    overflow: scroll;
    height: 39px;
    white-space: nowrap;
    width: 90vw;
    padding-top: 1px;
    padding-left: 1px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.texture-container-overflow::-webkit-scrollbar {
    display: none;
}

.product-container-overflow {
    overflow: scroll;
    height: 39px;
    white-space: nowrap;
    width: 90vw;
    padding-top: 1px;
    padding-left: 1px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    max-width: 90vw !important;
}

.product-container-overflow::-webkit-scrollbar {
    display: none;
}

.ar-button {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 1000;
    background: #e1e1e187;
}

.ar-button:active:focus {
    border-color: rgb(126, 126, 126);
    transform: translateY(+1px);
}

.ios-tester {
    color: red;
}

.pulse-button {
    box-shadow: 0 0 0 0 rgb(68, 85, 131);
    cursor: pointer;
    -webkit-animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 3.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.project-deactivation-notice {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffffad;
}

.project-deactivation-font {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 2rem !important;
    text-align: center;
}

.project-deactivation-font-info {
    margin-top: 10%;
}

.project-deactivation-btn {
    border: 1px solid #101677;
    background: #101677;
    color: white !important;
    border-radius: 6px;
    padding: 8px;
}

.project-deactivation-btn:hover {
    background: #4e56b9;
}

.displayNone {
    display: none;
}

.project-deactivation-hr {
    max-width: 60%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-deactivation-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-deactivation-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
}

.project-deactivation-logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.project-deactivation-link-align {
    text-align: center;
}


@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);
    }
}


.ar-icon {
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0.6px solid #9e9e9e75;
}

.ar-icon-multi {
    margin-bottom: 47px;
    margin-right: 16px;
}

.ar-icon-button-style-center {
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    bottom: 25px;
    width: 200px !important;
    padding-right: 0;
}


.ar-icon-button-style-left {
    left: 20px;
    bottom: 8px;
}

.ar-full-page-selector {
    margin-bottom: 69px;
}


.ar-full-page-selector {
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    margin-right: 10px;
    border: 1px solid #80808052;
    cursor: pointer;

    /*transition: border-width 0.4s ease;*/
}

.dot.active {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);

    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    border-width: 2px;
}

.material-selection {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    margin-right: 10px;
    border: 1px solid #80808052;
    cursor: pointer;
}

.material-selection.active {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);

    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    border-width: 2px;
}

.product-selector {
    font-size: 0.8rem;
    max-width: 130px;
    color: #484848 !important;
    /*    hack for safari*/
}

.color-container {

    display: inline-block
}

svg {
    font-family: 'Montserrat', sans-serif;
}

.helvetica {
    font-family: 'Montserrat', sans-serif;
    color: #484848;
    margin-bottom: 4px;
    font-size: 0.6rem;
}


.no-bottom-margin {
    margin-bottom: 0;
}

.inline-block {
    display: inline-block
}

.margin-left-font {
    margin-left: 2px;
}

.product-type-text {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

select::-ms-expand {
    display: none;
}

select {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-color: white;
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}


/* The Modal (background) */
.qr-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.qr-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

#qrcode canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 125px;
    height: 125px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 38pt;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-permission {
    position: absolute;
    right: 10%;
    font-size: 25pt;
    margin-top: -10px;
}

.close-ar-loading {
    position: absolute;
    right: 10%;
    font-size: 25pt;
    margin-top: -10px;
}


.close-glass-try-on {
    position: absolute;
    font-size: 60pt;
    left: 5px;
    top: 5px;
    color: #939393;
    font-family: system-ui;
}

.back-icon-glass-try-on {
    width: 40px;
    filter: invert(87%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(100%) contrast(87%);
    height: 32px;
}

.qr-code-modal-font {
    font-size: 0.7rem !important;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.qr-code-hint-font {
    text-align: center;
    font-size: 0.7rem !important;
    margin-top: 20px;
}

.qr-code-hr {
    max-width: 60%;
}

.qr-code {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.qr-powered-by-logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: -25px;
}

.qr-powered-by-logo {
    max-width: 95px;
    background: white;
    padding: 6px;
}

.qr-powered-by-margin {
    margin-bottom: -20px;
}

.default-hr {
    max-width: 60%;
}

/*userInput {*/
/*    outline: none !important; ABC*/
/*}*/


/* FAILED CONTAINER START*/

.failed-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.failed-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.failed-modal-font {
    font-size: 1.5rem !important;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 30px;
}

.failed-hint-font {
    text-align: center;
    font-size: 0.8rem !important;
    margin-top: 20px;
}

.failed-hr {
    max-width: 60%;
}

/* FAILED CONTAINER END*/



/* AR WORLD CONTAINER START*/

.ar-world-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.ar-world-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.ar-world-modal-font {
    font-size: 1.5rem !important;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 30px;
}

.ar-world-hint-font {
    text-align: center;
    font-size: 0.8rem !important;
    margin-top: 20px;
}

/* AR WORLD CONTAINER END*/


/* UNSUPPORTED CONTAINER START*/

.unsupported-browser-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.unsupported-browser-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.unsupported-browser-modal-font {
    font-size: 1rem !important;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 20px;
}

.unsupported-browser-modal-hint-font {
    text-align: center;
    font-size: 0.8rem !important;
    margin-top: 20px;
}

.unsupported-browser-modal-hr {
    max-width: 60%;
}

.copy-container {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    padding: 2px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.copy-btn {
    border: 1px solid #101677;
    background: #101677;
    color: white;
    border-radius: 6px;
    padding: 8px;
}

.copy-link {
    flex-grow: 2;
    border: none;
    font-size: 16px !important;
}

.copy-link:focus {
    outline: none;
}

/* FAILED CONTAINER END*/


.hotspot-dot {
    background: #fff;
    border-radius: 32px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    cursor: pointer;
    height: 10px;
    width: 10px;
    padding: 6px;
    position: relative;
    transition: opacity 0.3s;
}

.hotspot-dot:not([data-visible]) {
    background: transparent;
    border: 4px solid #fff;
    box-shadow: none;
    height: 14px;
    pointer-events: none;
    width: 14px;
}

.hotspot-dot:focus {
    border: 2px solid #101777;
    height: 10px;
    outline: none;
    width: 10px;
}

.hotspot-dot > * {
    opacity: 1;
    transform: translateY(-50%);
}

.hotspot-text-container {
    display: block;

    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    left: calc(100% + 1em);
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    top: 50%;
    width: max-content;
    max-width: 130px;
}

.hotspot-text-headline {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 14px;
    padding-bottom: 6px;
}

.hotspot-text-subline {
    border-top: .45px solid #80808040;
    padding-top: 4px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 12px;
}

.hotspot-text:not([data-visible]) > * {
    opacity: 0;
    pointer-events: none;
    transform: translateY(calc(-50% + 4px));
    transition: transform 0.3s, opacity 0.3s;
}

.hotspot-camera-view-btn {
    border: 1px solid #101677;
    background: #101677;
    color: white;
    border-radius: 6px;
    padding: 8px;
}


.no-highlight-click {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media only screen and (min-height: 300px) and (min-width: 330px) {

    .ar-icon {
        width: 120px;
    }

    .qr-modal-content {
    }

    .product-selector {
        font-size: 1rem;
        max-width: 180px;
    }

    .material-selection {
        height: 30px;
        width: 30px;
    }

    .helvetica {
        font-size: 0.8rem;
    }

    .product-selector-container {
        bottom: 80px;
    }

    .texture-dropdown-selector-container {
        bottom: 80px;
    }

    .dot {
        height: 30px;
        width: 30px;
    }

    .product-type-text {
        font-size: 1.4rem;
    }

    .ar-icon-multi {
        margin-bottom: 40px;
        margin-right: 20px;
    }

    .ar-full-page-selector {
        margin-bottom: 78px;
    }

    .hotspot-text-container {
        max-width: 140px;
    }


    .qr-code-modal-font {
        font-size: 1rem !important;
        margin-bottom: 20px;
    }

    .qr-code-hint-font {
        font-size: 0.8rem !important;
    }


}

@media only screen and (min-width: 400px) {
    .product-selector {
        max-width: 220px;
    }


    .qr-code-modal-font {
        font-size: 1rem !important;
        margin-bottom: 20px;
    }

    .qr-code-hint-font {
        font-size: 0.8rem !important;
    }
}

@media only screen and (min-height: 400px) {
    #qrcode canvas {
        width: 150px;
        height: 150px;
    }

    .qr-code-modal-font {
        font-size: 1rem !important;
        margin-bottom: 20px;
    }

    .qr-code-hint-font {
        font-size: 0.8rem !important;
    }
}

@media only screen and (min-height: 500px) {
    #qrcode canvas {
        width: 250px;
        height: 250px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .unsupported-browser-modal-font {
        font-size: 1.2rem !important;
        line-height: 30px;
    }
}

@media only screen and (min-width: 500px) {
    .ar-full-page-selector {
        margin-bottom: 40px;
        margin-right: 20px;
    }

    .metamask-login-modal {
        width: fit-content !important;
    }
}

@media only screen and (min-width: 600px) {

    .inside-logo {
        width: 10%;
    }

    .ar-button {
        font-size: 1rem;
        transform: scale(1.3);
    }

    .ar-icon-button-style-right {
        right: 20px;
        bottom: 8px;
    }

    .ar-icon-button-style-left {
        left: 40px;
        bottom: 8px;
    }

    .ar-icon {
        width: 170px;
    }

    .qr-modal-content {
        width: 50%;
    }

    .hotspot-dot {
        border: 0;
        height: 16px;
        width: 16px;
        padding: 8px;
    }

    .hotspot-dot:not([data-visible]) {
        border: 4px solid #fff;
        height: 20px;
        width: 20px;
    }

    .hotspot-dot:focus {
        border: 2px solid #101777;
        height: 16px;
        width: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .qr-modal-content {
        width: fit-content;
    }

    .qr-code-modal-font {
        font-size: 1.5rem !important;
        max-width: 60%;
    }
}


@media  only screen and (min-width: 1400px) {

    .hotspot-dot {
        border: 0;
        height: 20px;
        width: 20px;
        padding: 8px;
    }

    .hotspot-dot:not([data-visible]) {
        border: 4px solid #fff;
        height: 32px;
        width: 32px;
    }

    .hotspot-dot:focus {
        border: 2px solid #101777;
        height: 22px;
        width: 22px;
    }
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.loader:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid #717171;
    border-color: #717171 transparent #717171 transparent;
    animation: loader-dual-ring 2.2s linear infinite;
}

@keyframes loader-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* The Modal (background) */
.loading-modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.loading-modal-cta {
    margin-top: 50px;
}

.swipe-btn {
    width: 30px;
}

.ar-loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-right: 16px solid #030551;;
    width: 100px;
    height: 100px;
    -webkit-animation: arloaderspin 3s linear infinite;
    animation: arloaderspin 3s linear infinite;

    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes arloaderspin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes arloaderspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.autostart-loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-right: 16px solid #030551;;
    width: 100px;
    height: 100px;
    -webkit-animation: autostartspin 3s linear infinite;
    animation: autostartspin 3s linear infinite;

    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes autostartspin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes autostartspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.autostart-loading-container {
    display: flex;
    background: #efefefe0;
    width: 100%;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.autostart-loading-modal {
    margin: auto;
    padding: 20px;
    width: 80%;
}

.autostart-wait-text-container {
    padding-top: 20px;
}

.autostart-wait-text-p {
    text-align: center;
    color: #303030;
    font-size: 1rem;
}


.permission-container {
    background: #808080ad;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    display: none;
}

.permission-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.permission-inner-container {
    padding-top: 20px;
    text-align: center;
}

.permission-wait-text-p {
    text-align: center;
    color: #6f6f6f;
    font-size: 1.1rem;
}

.permission-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 200px;
    height: 48px;
    border-width: 0;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 1px 4px #0000007a;
    background-color: #0277bd;
    color: #ecf0f1;
    transition: background-color .3s;
    font-weight: 600;
    right: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12pt;
}

.permission-hint-font {
    text-align: center;
    font-size: 0.8rem !important;
    margin-top: 0;
}

.web3-error-container {
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    display: block;
    text-align: center;
}

.web3-error-txt {
    padding-top: 20vh;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    margin-left: auto;
    margin-right: auto;
}

.web3-error-btn {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: left;

    width: fit-content;
    height: 48px;
    border-width: 0;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 1px 4px #0000007a;
    background-color: #0277bd;
    color: #ecf0f1;
    transition: background-color .3s;
    font-weight: 600;
    right: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12pt;
}

.web3-error-btn:hover {
    background-color: #47a1d5;
}

.web3-back-btn {
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metamask-waiting-container {
    display: none;
    background: #808080ad;
    width: 100%;
    position: fixed;
    padding-top: 15%;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.metamask-waiting-img {
    width: 50%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.metamask-waiting-txt {
    text-align: center;
    font-size: 1rem !important;
    padding-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
}

.metamask-login-container {
    background: #808080ad;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.metamask-login-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
    text-align: center;
}

.metamask-login-preview-image {
    width: 80%;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    background: #e3e3e3;
    border-radius: 25px;
    margin-top: 10px;
    object-fit: contain;
}

.metamask-login-inner-container {
    padding-top: 20px;
    text-align: center;
}


.metamask-login-wait-text-p {
    text-align: center;
    color: #6f6f6f;
    font-size: 1.1rem;
    font-weight: 500;
}

.metamask-login-product-text-p {
    text-align: center;
    font-size: 1.1rem;
}

.metamask-login-btn {
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;

    width: 200px;
    height: 48px;
    border-width: 0;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 1px 4px #0000007a;
    background-color: #0277bd;
    color: #ecf0f1;
    transition: background-color .3s;
    font-weight: 600;
    right: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12pt;
}

.metamask-login-btn-wrapper {
    display: flex;
}

.metamask-login-btn-img {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 30px;
}

.metamask-login-btn-txt {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.metamask-login-btn:hover {
    box-shadow: 0 1px 4px #0000007a;
    background-color: #47a1d5;
}

.metamask-login-hint-font {
    text-align: center;
    font-size: 0.8rem !important;
    padding-top: 4px;
}

.usdz-loading-container {
    display: none;
    background: #808080ad;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 10%;
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.usdz-loading-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.usdz-wait-text-container {
    padding-top: 20px;
}

.usdz-wait-text-p {
    text-align: center;
    color: #6f6f6f;
}


.ar-loading-container {
    display: none;
    background: #efefefe0;
    width: 100%;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.ar-loading-modal {
    margin: auto;
    padding: 20px;
    width: 80%;

}

.ar-wait-text-container {
    padding-top: 20px;
}

.ar-wait-text-p {
    text-align: center;
    color: #303030;
    font-size: 1rem;
}

.cta-btn {
    top: 5%;
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 19px;
    padding: 11px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 4px 0 0.04px rgb(0 0 0 / 12%);
    background-color: #0277bd;
    color: #ecf0f1;
    transition: background-color .3s;
    font-weight: 600;
    right: 0;
    letter-spacing: 1.5px;
    width: fit-content;
    text-transform: uppercase;
    font-size: 12pt;
    overflow: visible;
}


.call-to-action-icon {
    height: 18pt;
    display: inline-block;
}

#call-to-action-headline {
    float: right;
    margin-top: 1px;
    margin-left: 9px;
    display: inline-block;
}

#call-to-action-button-subtitle {
    position: absolute;
    margin-top: 22%;
    color: #afafaf;
    text-align: center;
}


.mazing-viewer-standard {
    width: 100%;
    height: 90%;
}

.mazing-viewer-high-elements {
    width: 100%;
    height: 90%;
    top: 10%;
}


@keyframes circle {
    from {
        transform: translateX(-50%) rotate(0deg) translateX(-20px) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg) translateX(-20px) rotate(-360deg);
    }
}

@keyframes elongate {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(50px);
    }
}


.web-ar-restart-circle {
    display: none;
    position: absolute;
    top: 0;
    width: 90px;
    height: 90px;
    filter: drop-shadow(1px 1px 4px #3e3e3e6b);
}

.web-ar-restart-circle:hover {
    filter: drop-shadow(1px 1px 14px #3e3e3e6b);
}

.web-ar-play-container{
    width:100%;
    position: absolute;
    top: 30%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.web-ar-play-circle {
    width: 250px;
    height: 250px;
    filter: drop-shadow(1px 1px 4px #3e3e3e6b);
}

.web-ar-play-circle:hover {
    filter: drop-shadow(1px 1px 14px #3e3e3e6b);
}

mazing-viewer > #web-ar-prompt-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #efefef5e;
}

mazing-viewer[ar-status="session-started"] > #web-ar-prompt-container {
    display: block;
}

#web-ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
}

#web-ar-prompt > img {
    animation: circle 4s linear infinite;
}


mazing-viewer > #web-ar-footer-container {
    justify-content: center;
    display: flex;
    width: 100%;
    display: none;
}


mazing-viewer[ar-status="object-placed"] > #web-ar-footer-container {
    display: block;
}


#web-ar-footer {
    position: absolute;
    width: 80%;
    bottom: 10px;
    border-radius: 15px;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
    background-color: #efefef99;
}


.web-ar-product-detail {
    width: 50%;
    float: left;
    position: fixed;
}

#web-ar-product-button {
    width: fit-content;
    float: right;
    color: #0277bd;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
    margin-top: 12px;
    margin-bottom: 12px;
}


#web-ar-product-title {
    margin: 0;
    color: #0b2e13;
    font-weight: bold;
    font-size: 0.9rem;
}

#web-ar-product-subtitle {
    margin-top: 2px;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.web-ar-hand {
    width: 80%;
}


.web-ar-movement-hint-container {
    justify-content: center;
    display: flex;
    bottom: 80px;
    position: absolute;
    width: 100%;
}

.web-ar-movement-hint-text {
    text-align: center;
    width: fit-content;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}


.scroll-hint-text-container {
    visibility: hidden;
    position: fixed;
    top: 45%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    cursor: grab;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.scroll-hint-text-container.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.copy-paste-container {
    visibility: hidden;
    position: fixed;
    top: 30%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    cursor: grab;
    z-index: 1001;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.copy-paste-container.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.scroll-hint-text-p {
    text-align: center;
    border: 1px solid gray;
    border-radius: 25px;
    width: fit-content;
    width: -moz-max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #9a9a9aa3;
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


.copy-paste-container-p {
    text-align: center;
    border: 1px solid gray;
    border-radius: 6px;
    width: fit-content;
    width: -moz-max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: #101677;
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
}

.ar-btn-icon {
    width: 26%;
    height: auto;
    margin-right: 4%
}

.ar-btn-icon-style-center {
    width: 16%;
}

.ar-btn-text-container {
    text-align: center;
    width: 70%;
    margin-right: 4%
}

.ar-btn-text-1 {
    font-weight: 420;
    margin-top: 0;
    margin-bottom: -4%;
}

.ar-btn-text-style-center {
    font-weight: 600;
    margin-bottom: -2%;
}

.ar-btn-text-2 {
    font-weight: 420;
    margin-top: 0;
}

/*https://codepen.io/sosuke/pen/Pjoqqp*/
.svg-color-blue {
    filter: invert(0%) sepia(100%) saturate(20%) hue-rotate(346deg) brightness(103%) contrast(104%);
}

.font-color-blue {
    color: #000000;
}

.svg-color-white {
    filter: invert(100%) sepia(11%) saturate(7430%) hue-rotate(275deg) brightness(118%) contrast(111%);
}

.font-color-white {
    color: #FFFFFF;
}

.dimension-dim {
    border: 0;
    background: #3f3f3c87;
    border-radius: 10px;
    color: white;
}

.dimension-dot {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 25px;
    border: 0;
    background: #4e4e4e63;
}


.try-on-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

#glass-iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.third-party-iframe {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    visibility: hidden;
}
